/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "am33xx.dtsi"

/include/ "am335x-bone-common.dtsi"

&am33xx_pinmux {
	rstctl_pins: pinmux_rstctl_pins {
		pinctrl-single,pins = <
			/* eMMC_RSTn */
			0x50 0x17	/* gpmc_a4.gpio1_20, OUTPUT | MODE7 | PULLUP */
		>;
	};
};

&ldo3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&rstctl {
	status = "okay";
	compatible = "gpio-rctrl";
	pinctrl-names = "default";
	pinctrl-0 = <&rstctl_pins>;

	#reset-cells = <2>;

	gpios = <&gpio2 20 0x00>;
	gpio-names = "eMMC_RSTn";
};

&mmc1 {
	vmmc-supply = <&vmmcsd_fixed>;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	bus-width = <8>;
	ti,non-removable;
	status = "okay";

	reset = <&rstctl 0 0>;
	reset-names = "eMMC_RSTn-CONSUMER";
};

&cpu {
	/*
	 * To consider voltage drop between PMIC and SoC,
	 * tolerance value is reduced to 2% from 4% and
	 * voltage value is increased as a precaution.
	 */
	operating-points = <
		/* kHz    uV */
		1000000	1350000
		800000	1300000
		600000  1112000
		300000   969000
	>;
};

&mcasp0 {
    pinctrl-names = "default";
    pinctrl-0 = <&mcasp0_pins>;

    status = "okay";

    op-mode = <0>; /*  MCASP_IIS_MODE */
    num-serializer = <4>;
    serial-dir = < 2 1 0 2 >; /* 0: INACTIVE, 1: TX, 2: RX */
    tdm-slots = <2>;

    tx-num-evt = <1>;
    rx-num-evt = <1>;
};

/ {
    ocp {
        codec: adc@1 { 
            compatible = "adm_mod-codec";
            status = "okay";

            /* 32 * <bank> + <gpio> */
            adc_pcm_en = <30>; /* pin a11: gpio0[30] */
            adc_mbo_en = <31>; /* pin a13: gpio0[31] */ 
            adc_dsd_en = <48>; /* pin a15: gpio1[16] */ 
            adc_pcm_ms = <49>; /* pin a23: gpio1[17] */
            adc_mdiv = <117>; /* pin a25: gpio3[21] */
            adc_hpfb = <115>; /* pin a27: gpio3[19] */
            adc_mode0 = <51>; /* pin a14: gpio1[19] */
            adc_mode1 = <50>; /* pin a16: gpio1[18] */
            adc_rst = <15>; /* pin a24: gpio0[15] */
            dac_relais = <60>; /* pin b04: gpio1[28] */
        };

        sound_incas3 {
            compatible = "ti,am33xx-beaglebone-black";
            ti,model = "INCAS3 ADM";
            ti,audio-codec = <&codec>;
            ti,mcasp-controller = <&mcasp0>;
            ti,codec-clock-rate = <12000000>;
        };
    };
};
